// map box
.mapbox-container {
  height: 600px;

  #map {
    height: 100%;
  }
}

.query-item {
  margin-right: -10px;
  margin-left: -10px;
  border-bottom: 1px solid #ccc;
}

.ellipsis {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}
