<template name="queries">
  <h3>Recent queries:</h3>
  <div class="row">
    <div class="col-sm-12">
      {{#if queries}}
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Radius</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {{#each queries}}
              {{> query}}
            {{/each}}
          </tbody>
        </table>
      {{else}}
        Your query list is empty.
      {{/if}}
    </div>
  </div>
</template>

<template name="query">
  <tr>
    <td>
      <button class="btn btn-sm btn-link" data-action="remove">
        <i class="glyphicon glyphicon-trash"></i>
      </button>
      <strong>{{query}}</strong>
    </td>
    <td>{{toFixed lat 6}}</td>
    <td>{{toFixed lng 6}}</td>
    <td>{{radiusKm}}km</td>
    <td>{{createdAt}}</td>
  </tr>
</template>
