<template name="queries">
  <h3>Last your queries:</h3>
  <div class="row">
    {{#each queries}}
      <div class="col-md-2 col-sm-3 col-xs-6">
        {{> query}}
      </div>
    {{else}}
      <div class="col-sm-12">
        Your query list is empty.
      </div>
    {{/each}}
  </div>
</template>

<template name="query">
  <div class="query-item ani-rise">
    <div class="row">
      <div class="col-xs-3">
        Query:
      </div>
      <div class="col-xs-9 ellipsis">
        <span title="{{query}}">{{query}}</span>
      </div>
      <div class="col-xs-3">
        lat:
      </div>
      <div class="col-xs-9">
        {{toFixed lat 4}}
      </div>
      <div class="col-xs-3">
        lng:
      </div>
      <div class="col-xs-9">
        {{toFixed lng 4}}
      </div>
    </div>
  </div>
</template>
